.fa-star {
  font-size: 24px;
  margin: 0.5em;
}

span {
  display: inline-block;
  margin: 0.5em;
  text-align: center;
  background-color: #ccc;
  width: 24px;
  border-radius: 50%;
  cursor: pointer;
}

.selected {
  background-color: #eee;
  color: #ddd;
}

.used {
  background-color: red;
  color: #eee;
}
